# Environnement virtuel
.venv/

# Manim
media/
!media/videos/compile_vs_interprete/1080p60/CompileVsInterprete.mp4

# Quarto
_site/
.quarto/
_freeze/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
/.quarto/
**/*.quarto_ipynb
